
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    align-items: center;
    display:flex; 
    flex-direction:column; 
}

.container{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    padding: 70px;
    
}


.logo{
    display: flex;
  width: 40%;
  width: 200px;
  height: 200px;
 
}

/* .title{
    position: absolute;
  left: 150px;
  width: 200px;
  height: 120px;
} */


.movieC:hover
{
    transition: 0.5s ease-in;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(0.9);
}



.post-container {
    margin: 20px 20px 0 0;  
    overflow: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    padding: 70px;
}
.post-thumb {
    float: left
}
.post-thumb img {
    display: block
}
.post-content {
    margin-left:50px;
}
.post-title {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 200%;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    padding: 10px;
    color: rgba(170, 170, 170, 0.8)
  }

  p{
      color: rgba(0, 0, 0, 0.5);
      font-weight: 200;
  }

.inline{
    display: inline;
    line-height: 18px;
}

  h4.inline{
    display: inline;
    padding: 0 0.5em 0 0;
  }

  .credit_summary_item{
      padding: 5px;
  }
  
  .summary_text{
      padding-bottom: 16px;
      line-height: 18px;
  }

  .image{
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
  }