/* Color Theme Changer */



html {
    --bg: #ffffff;
    --bg-panel: #aaaaaa;

}

html[data-theme='dark'] {
    --bg: #333333;
    --bg-panel: #6d6d6d;
    --color-headings: #7e7e7e;

}


label:after {
	content: '';
	position: absolute;
	top: 3px;
	left: 3px;
	width: 20px;
	height: 20px;
	background: rgb(255, 255, 255);
	border-radius: 90px;
    transition: 0.3s ;
    
}

input:checked + label {
	background: var(--color-headings);
}

input:checked + label:after {
	left: calc(100% - 5px);
	transform: translateX(-100%);
}

label:active:after {
	width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}
input[type=checkbox]{

	height: 0;
	width: 0;
	visibility: hidden;
}

label {
	cursor: pointer;
	text-indent: -9999px;
	width: 52px;
	height: 27px;
	background: rgb(114, 114, 114);
	float: right;
	border-radius: 100px;
	position: relative;
}


/* ======================================================= */


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}




body{
    margin: 0;
    padding: 0;
    align-items: center;
    display:flex; 
    flex-direction:column; 

    background-color: var(--bg);
}

.container{

    position: absolute;
    left: 50%;
    top: 50%;
    flex: 1;
    transform: translate(-50%, -50%);
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    padding: 20px;
    
    background-color: var(--bg-panel);
    border-radius: 15px;
    grid-template-columns: 80% auto;
    grid-template-rows: auto auto;
    grid-template-areas:
        "title switch"
        "content content";
}

header{
    align-items: center;
    padding:50px;
    
    
}

.logo{
    padding-top: 30px;
    display: flex;
    width: 50px;
    height: 100%;
    justify-content: center;
   
  }

.movieC{
    padding-left: 20px;
    left: 50%;
    top: 50%;;
    cursor: pointer;
    width: 340px;
    height: 480px;
    padding-top: 50px;
    align-items: center;

    transition: 0.5s ease-out;
/* i put this transition because when you move the mouse cursor over an other image it looks natural */
    

}

/* below we have the image transition to make it a bit bigger */

.movieC:hover
{
    transition: 0.5s ease-in;
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}

.image{
    filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.5));
}


footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  padding: 10px;
  color: rgb(182, 182, 182)
}

.title{
    color: rgb(78, 78, 78);
    padding-top: 10px;
    font-size: 25px;
    font-weight: 200;
}

.actors{
    padding-top: 3px;
    color: rgb(214, 214, 214)
}
a{
    text-align: center;
}